.bar{
    height:640px;
    width: 120px;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(2,50px);
    grid-template-rows: repeat(10,1fr);
    grid-gap:20px;
    justify-content: center;

}







